header{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images/main-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

body{
  font-family: "Noto Sans KR", sans-serif;
}

h1, h2, h3, h4{
        font-family: "Gugi", cursive;
}

.nav-link:hover,
.nav-link.active {
    color: #ffc107 !important;
}


#sns-links {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.208)), url(images/sns-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.card-hover:hover {
  background-color: rgba(127, 255, 212, 0.215);
}

#news {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(images/news-bg.jpg);
  background-size: cover;
  background-position: center;
}